## Ignore .pyc files
**.pyc

## Itnore director named pycace
NOTEBOOKS/__pycache__/*.pyc
NOTEBOOKS/.ipynb_checkpoints

## Ignore large files like bam
**.bam

## Ignore .DS_store files
**.DS_Store
.DS_Store

## End of file 