## Ignore .pyc files
**.pyc

## Itnore director named pycace
NOTEBOOK/__pycache__/*.pyc
NOTEBOOK/.ipynb_checkpoints

## Ignore large files like bam
**.bam

## Ignore .DS_store files
**.DS_Store

## End of file 